@import '_normalize.styl'

body
  background offwhite

.header
  text-align center  

.wrapper
  display flex
  justify-content center
  width: 80%

.area-markdown
  margin-left 200px
  padding-left 20px

.area-html
  padding-left 50px

.footer
  padding-top: 20px
  text-align: center
  font-size: 0.8em
  font-weight: bold
  color grey
